<h1 mat-dialog-title>Actualizar registro</h1>
<div mat-dialog-content>
    <p>Identificador : {{id}}</p>

    <form action="">
        <!--Form for departments--->
        <mat-form-field *ngIf="catalog == 2">
            <mat-label>Nombre</mat-label>
            <input matInput
                type = "text"
                name = "name"
                [(ngModel)]="department.name"/>
        </mat-form-field>   
        <br>
        <mat-form-field *ngIf="catalog == 2">
            <mat-label>Descripción</mat-label>
            <input matInput
                type = "text"
                name = "description"
                [(ngModel)]="department.description"/>
        </mat-form-field>   
        <br>

        <mat-form-field *ngIf="catalog == 1">
            <mat-label>Nombre</mat-label>
            <input matInput
                type = "text"
                name = "name"
                [(ngModel)]="employee.name"
                ngModel="">
        </mat-form-field>
        <br>
    
        <!--Form for employees--->
        <mat-form-field *ngIf="catalog==1">
            <mat-label>Apellidos</mat-label>
            <input matInput
                type = "text"
                name = "lastName"
                [(ngModel)]="employee.lastName"
                ngModel="">
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="catalog==1">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput
                type = "text"
                name = "username"
                [(ngModel)]="employee.username"
                ngModel="">
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="catalog==1">
            <mat-label>Correo electrónico</mat-label>
            <input matInput
                type = "email"
                name = "email"
                [(ngModel)]="employee.email"
                ngModel="">
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="catalog==1">
            <mat-label>Teléfono</mat-label>
            <input matInput
                type = "tel"
                name = "phoneNumber"
                [(ngModel)]="employee.phoneNumber"
                ngModel="">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="closeDialog()">Cerrar</button>
    <button mat-raised-button (click)="confirmUpdate()" color="primary" type="submit">Actualizar</button>
</div>